/* 
style.css
 */

 #headerText {
    margin-top: 20px;
 }

 #bannerImage {
    width: 100%;
    height: 230px;
 }

 p {
    margin-top: 1em;
    margin-bottom: 0.5em;
 }

 footer {
    position: fixed;
    bottom: 0;
    background-color: #cfcfcf;
    width: 100vw;
    display: flex;
    height: 8%;
}

footer > section {
    display: flex;
    width: 50%;
    align-items: center;
}

footer > section.footer-section-right {
    justify-content: end;
}
footer > section.footer-section-right span {
    margin: 0 1em 0 1em; 
}

footer > section.footer-section-left span {
    margin: 0 1em 0 1em; 
}

div.census-form-row {
    margin-bottom: 2em;
}

#pageNotFoundText {
    color: red;
}

